<h1 mat-dialog-title>Редактирование занятия</h1>
<form #createForm="ngForm">
  <div class="container-fluid" mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w=200">
          <input type="text" name="time" matInput placeholder="Time" required />
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="classroom"
            matInput
            placeholder="Classroom"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="group"
            matInput
            placeholder="Group"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="subject"
            matInput
            placeholder="Subject"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="teacher"
            matInput
            placeholder="Teacher"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      [disabled]="!createForm.valid"
      color="black-create"
    >
      Создать
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Выйти</button>
  </div>
</form>
