::ng-deep .mat-icon {
  font-size: 40px;
  margin-right: 15px;
}

.main {
  .mat-toolbar {
    background-color: rgb(116, 102, 59);
    color: rgb(255, 255, 255);
    font-size: 40px;
    height: 70px;
  }

  .header-schedule {
    margin-top: 10px;
  }

  // .header-student {
  //   margin-top: 5px;
  //   position: relative;
  //   left: 1000px;
  // }

  // .header-teacher {
  //   margin-top: 5px;
  //   position: relative;
  //   left: 1050px;
  // }

  .toolBar-button-exit {
    position: relative;
    left: 1530px;
  }
}
