<h1 mat-dialog-title>Добавить нового преподователя</h1>
<form #registerForm="ngForm">
  <div class="container-fluid" mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="firstname"
            [(ngModel)]="newTeacherModel.firstname"
            matInput
            placeholder="Firstname"
            required
          />
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="lastname"
            [(ngModel)]="newTeacherModel.lastname"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="password"
            [(ngModel)]="newTeacherModel.password"
            matInput
            placeholder="Password"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="department"
            [(ngModel)]="newTeacherModel.department"
            matInput
            placeholder="Department"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="email"
            [(ngModel)]="newTeacherModel.email"
            matInput
            placeholder="Email"
            required
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="phone"
            [(ngModel)]="newTeacherModel.phone"
            matInput
            placeholder="Phone"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      (click)="createTeacher(registerForm)"
      [disabled]="!registerForm.valid"
      color="black-create"
    >
      Создать
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Выйти</button>
  </div>
</form>
