<h1 mat-dialog-title>Добавить новую группу</h1>
<form #createForm="ngForm">
  <div class="container-fluid" mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="title"
            [(ngModel)]="newGroupModel.title"
            matInput
            placeholder="Title"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      (click)="createGroup(createForm)"
      [disabled]="!createForm.valid"
      color="black-create"
    >
      Создать
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Выйти</button>
  </div>
</form>
