<div class="main-header-group">
  <h1>ГРУППЫ</h1>
</div>

<div class="form-group">
  <mat-form-field class="search">
    <mat-label>Поиск</mat-label>
    <input
      matInput
      [ngModel]="groups.title"
      (ngModelChange)="searchGroup($event)"
    />
  </mat-form-field>
</div>

<div class="main-table-group">
  <div class="create-group-button">
    <button mat-icon-button color="warn" (click)="create()">
      <mat-icon [inline]="true">add_box</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="getGroups() | async as groupListItem">
    <table
      mat-table
      [dataSource]="groupListItem"
      class="mat-elevation-z8 group-table"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Students Column -->
      <ng-container matColumnDef="students">
        <th mat-header-cell *matHeaderCellDef>Students</th>
        <td mat-cell *matCellDef="let element">
          <mat-nav-list>
            <mat-list-item *ngFor="let gr of element.students">
              {{ [gr.firstname] }}
              {{ [gr.lastname] }}
            </mat-list-item>
          </mat-nav-list>
        </td>
      </ng-container>

      <!-- Lessons Column -->
      <ng-container matColumnDef="lessons">
        <th mat-header-cell *matHeaderCellDef>Lessons</th>
        <td mat-cell *matCellDef="let element">
          <mat-nav-list>
            <mat-list-item *ngFor="let gr of element.lessons">
              {{ [gr.classroom] }}
            </mat-list-item>
          </mat-nav-list>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="delete(element); $event.stopPropagation()"
            aria-label="Delete post"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="update(row)"
      ></tr>
    </table>
  </ng-container>
</div>
