<div class="routes-admin">
  <div class="toRoute-admin-1">
    <mat-list role="list-func-admin">
      <mat-list-item role="listitem">
        <div class="admin-home-button-Student">
          <button
            class="to-table"
            type="button"
            mat-raised-button
            color="black"
            [routerLink]="['/admin/table/student']"
          >
            Студенты
          </button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem">
        <div class="admin-home-button-Lesson">
          <button
            class="to-table"
            type="button"
            mat-raised-button
            color="black"
            [routerLink]="['/admin/table/lesson']"
          >
            Занятия
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="toRoute-admin-2">
    <mat-list role="list-func-admin">
      <mat-list-item role="listitem"
        ><div class="admin-home-button-Teacher">
          <button
            class="to-table"
            type="button"
            mat-raised-button
            color="black"
            [routerLink]="['/admin/table/teacher']"
          >
            Учителя
          </button>
        </div>
      </mat-list-item>
      <mat-list-item role="listitem"
        ><div class="admin-home-button-Group">
          <button
            class="to-table"
            type="button"
            mat-raised-button
            color="black"
            [routerLink]="['/admin/table/group']"
          >
            Группы
          </button>
        </div>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<!-- <div class="admin-home-button-Lesson">
  <button class="to-table" type="button" mat-raised-button color="black">
    Занятия
  </button>
</div> -->
