.to-table {
  font-size: 80px !important;
  height: 100px !important;
  width: 500px !important;
}

.routes-admin {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-black {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }

  .mat-list {
    margin-bottom: 220px;
    text-align: center;
  }

  .mat-list-item {
    margin-top: 200px;
  }
}

// .admin-home-button-Lesson {
//   position: relative;
//   margin-bottom: 100px;
// }
