<div class="main-header-subject">
  <h1>ПРЕДМЕТЫ</h1>
</div>

<div class="form-subject">
  <mat-form-field class="search">
    <mat-label>Search</mat-label>
    <input
      matInput
      [ngModel]="subjects.title"
      (ngModelChange)="searchGroup($event)"
    />
  </mat-form-field>
</div>

<div class="main-table-subject">
  <div class="create-subject-button">
    <button mat-icon-button color="warn" (click)="create()">
      <mat-icon [inline]="true">add_box</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="getSubjects() | async as subjectListItem">
    <table
      mat-table
      [dataSource]="subjectListItem"
      class="mat-elevation-z8 subject-table"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Lessons Column -->
      <ng-container matColumnDef="lessons">
        <th mat-header-cell *matHeaderCellDef>Lessons</th>
        <td mat-cell *matCellDef="let element">{{ element.lessons }}</td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="delete(element); $event.stopPropagation()"
            aria-label="Delete post"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="update(row)"
      ></tr>
    </table>
  </ng-container>
</div>
