.mat-dialog-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 200px;
}

.mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-black-create {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}
