<h1 mat-dialog-title>Обновить студента</h1>
<form #updateForm="ngForm">
  <div class="container-fluid" mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="firstname"
            [(ngModel)]="updateLessonModel.title"
            matInput
            placeholder="Firstname"
            required
          />
        </mat-form-field>
      </div>

      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="lastname"
            [(ngModel)]="updateLessonModel.classroom"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      (click)="updateLesson(updateForm)"
      [disabled]="!updateForm.valid"
      color="black-create"
    >
      Обновить
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Выйти</button>
  </div>
</form>
