<div class="main-header-lesson">
  <h1>ЗАНЯТИЯ</h1>
</div>

<div class="form-lesson">
  <mat-form-field class="search">
    <mat-label>Поиск</mat-label>
    <input
      matInput
      [ngModel]="lessons.title"
      (ngModelChange)="searchLessons($event)"
    />
  </mat-form-field>
</div>

<div class="main-table-lesson">
  <div class="create-lesson-button">
    <button mat-icon-button color="warn" (click)="create()">
      <mat-icon [inline]="true">add_box</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="getLessons() | async as lessonListItem">
    <table
      mat-table
      [dataSource]="lessonListItem"
      class="mat-elevation-z8 lesson-table"
    >
      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- Classroom Column -->
      <ng-container matColumnDef="classroom">
        <th mat-header-cell *matHeaderCellDef>Classroom</th>
        <td mat-cell *matCellDef="let element">{{ element.classroom }}</td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef>Group</th>
        <td mat-cell *matCellDef="let element">
          <mat-nav-list>
            <mat-list-item *ngFor="let gr of element.group">
              {{ [gr.firstname] }}
              {{ [gr.lastname] }}
            </mat-list-item>
          </mat-nav-list>
        </td>
      </ng-container>

      <!-- Teacher Column -->
      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef>Teacher</th>
        <td mat-cell *matCellDef="let element">
          <mat-nav-list>
            <mat-list-item *ngFor="let gr of element.teacher">
              {{ [gr.classroom] }}
            </mat-list-item>
          </mat-nav-list>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="delete(element); $event.stopPropagation()"
            aria-label="Delete post"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="update(row)"
      ></tr>
    </table>
  </ng-container>
</div>
