.intro-media-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.log-inputs {
  min-height: 80vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
