<h1 mat-dialog-title>Добавить новое занятие</h1>
<form #registerForm="ngForm">
  <div class="container-fluid" mat-dialog-content>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="w=200">
          <input
            type="text"
            name="lastname"
            [(ngModel)]="newLessonModel.classroom"
            matInput
            placeholder="Lastname"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button
      mat-raised-button
      type="button"
      (click)="createStudent(registerForm)"
      [disabled]="!registerForm.valid"
      color="black-create"
    >
      Создать
    </button>
    <button mat-raised-button color="warn" mat-dialog-close>Выйти</button>
  </div>
</form>
